{% extends 'base.html.twig' %}

{% block title %}
	Aest - Profile
{% endblock %}

{% block body %}

	<div class="relative w-full mt-16">
		<div class="flex justify-between items-center">
			<h2 class="text-2xl font-bold">{{ user.pseudo }}</h2>

			<a href="{{ path('app_logout') }}" class="text-sm text-white block inline-flex justify-center rounded-md border border-red-300 shadow-sm px-4 py-2 bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Log out</a>
		</div>

		<a href="{{ path('profile_edit', {'id': user.id}) }}" class="mt-5 text-white text-sm block inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1.5 bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Update your info</a>

		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<span class="absolute left-0 left-0 flash mt-5 text-green-600 text-sm block inline-flex justify-center rounded-md border border-{{ category }}-100 shadow-sm px-3 py-1.5 bg-{{ category }}-200">
					{{ message }}
				</span>
			{% endfor %}
		{% endfor %}

		<div class="mt-16">
			<h3 class="text-3xl font-bold">Your stats</h3>
			<p class="text-gray-700 mt-4 mb-2">
				<span class="inline-block font-bold w-36">Turns played:
				</span>
				<span class="text-black" id="userTurns">25</span>
			</p>
			<p class="text-gray-700">
				<span class="inline-block font-bold w-36">Mean accuracy:
				</span>
				<span class="text-black text-lg font-bold" id="userAccuracy">96.7</span>%
			</p>
			<p class="mt-10 font-bold">Accuracy details</p>
			<div class="flex flex-wrap">
				<button type="button" class="mr-2 mt-2 text-sm block inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="userPrecisionAll">All time</button>
				<button type="button" class="mr-2 mt-2 text-sm block inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="userPrecisionMonth">Last Month</button>
				<button type="button" class="mr-2 mt-2 text-sm block inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="userPrecisionWeek">Last Week</button>
				<button type="button" class="mt-2 text-sm block inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="userPrecisionDay">Last Day</button>
			</div>
			<div class="flex text-xs pt-3 items-baseline text-gray-700">
				<p class="mr-4">
					<span class="inline-block font-bold w-24">Turns played:
					</span>
					<span class="text-black" id="userStatsPrecisionTurns">25</span>
				</p>
				<span class="block">|</span>
				<p class="ml-4">
					<span class="inline-block font-bold w-28">Mean accuracy:
					</span>
					<span class="text-black text-base font-bold" id="userStatsPrecisionAccuracy">96.7</span>%
				</p>
			</div>
			<div class="text-xs border-l-2 border-black flex-grow mt-3 mb-2 flex justify-between w-5/6">
				<div class="w-5/6">
					<p class="bg-green-500 my-4 py-1" id="userStatsPrecision0Percentage">
						<span class="pl-4">&lt;&nbsp;5%</span>
					</p>
					<p class="bg-yellow-300 my-4 py-1" id="userStatsPrecision1Percentage">
						<span class="pl-4">&lt;&nbsp;10%</span>
					</p>
					<p class="bg-red-500 my-4 py-1" id="userStatsPrecision2Percentage">
						<span class="pl-4">&gt;=10%</span>
					</p>
				</div>
				<div class="w-1/6">
					<p class="my-4 pl-4 py-1" id="userStatsPrecision0Count">4</p>
					<p class="my-4 pl-4 py-1" id="userStatsPrecision1Count">4</p>
					<p class="my-4 pl-4 py-1" id="userStatsPrecision2Count">4</p>
				</div>
			</div>
		</div>

		<a href="{{ path('home') }}" class="mt-16 text-white text-sm block inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1.5 bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Back to the game</a>

	</div>


{% endblock %}
