<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}Aest - Area estimation tool
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
		<meta content="#374151" name="theme-color">
		<meta content="#374151" name="msapplication-TileColor">
		<meta name="robots" content="follow, index">
		<meta name="description" content="Aest, Area estimation tool. Try to guess the correct percentage of colored area. Rank up the Leaderboard !">
		<meta property="og:url" content="https://www.aest.fr/">
		<link rel="canonical" href="https://www.aest.fr/">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Aest">
		<meta property="og:description" content="Aest, Area estimation tool. Try to guess the correct percentage of colored area. Rank up the Leaderboard !">
		<meta property="og:title" content="Aest - Area estimation tool">
		<meta property="og:image" content="{{ asset('build/images/site-image.png') }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@JereHoh">
		<meta name="twitter:title" content="Aest - Area estimation tool">
		<meta name="twitter:description" content="Aest, Area estimation tool. Try to guess the correct percentage of colored area. Rank up the Leaderboard !">
		<meta
		name="twitter:image" content="{{ asset('build/images/site-image.png') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="font-mono flex flex-col min-h-screen items-center px-3 sm:px-4 max-w-3xl mx-auto">

		<header class="relative flex justify-between items-center font-bold mt-4 sm:mt-8 w-full mx-auto max-w-2xl">

			<a href="{{ path('leaderboard') }}" class="block p-3 bg-gray-100">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewbox="0 0 25 25" stroke="#374151" fill="#374151">
					<title>
						leaderboard
					</title>
					<path d="M15 19H9V12.5V8.6C9 8.26863 9.26863 8 9.6 8H14.4C14.7314 8 15 8.26863 15 8.6V14.5V19Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M20.4 19H15V15.1C15 14.7686 15.2686 14.5 15.6 14.5H20.4C20.7314 14.5 21 14.7686 21 15.1V18.4C21 18.7314 20.7314 19 20.4 19Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M9 19V13.1C9 12.7686 8.73137 12.5 8.4 12.5H3.6C3.26863 12.5 3 12.7686 3 13.1V18.4C3 18.7314 3.26863 19 3.6 19H9Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>

			{% if app.user == null and app.request.pathinfo == '/' %}
				<div class="absolute mt-14" id="hint-leaderboard">
					<div class="absolute arrow-up ml-4"></div>
					<p class="mt-2.5 flex font-bold absolute mx-auto text-gray-500 text-xs justify-center rounded-md border border-gray-300 shadow-sm px-2 py-1 bg-gray-200 cursor-default">
						Leaderboard
					</p>
				</div>

			{% endif %}


			<a href="{{ path('home') }}">
				<h1 class="mx-auto text-4xl sm:text-5xl text-gray-700 max-w-min pt-1.5">Aest</h1>
			</a>


			{% if app.user %}
				<a href="{{ path('profile') }}" class="relative block p-3 bg-gray-100">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="#374151">
						<title>
							user avatar
						</title>
						<path d="M10 12.5c-5.92 0-9 3.5-9 5.5v1h18v-1c0-2-3.08-5.5-9-5.5z"/>
						<circle cx="10" cy="6" r="5"/>
					</svg>
					<span class="absolute top-1 left-1 w-2 h-2 mr-2 bg-green-500 rounded-full"></span>
				</a>
			{% else %}
				<button type="button" id="login-icon" class="relative block p-3 bg-gray-100">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="#374151">
						<title>
							user avatar
						</title>
						<path d="M10 12.5c-5.92 0-9 3.5-9 5.5v1h18v-1c0-2-3.08-5.5-9-5.5z"/>
						<circle cx="10" cy="6" r="5"/>
					</svg>
					<span class="absolute top-1 left-1 w-2 h-2 mr-2 bg-red-500 rounded-full"></span>
				</button>

			{% endif %}

		</header>

		<main class="flex-grow flex flex-col items-center w-full">
			{% if app.user == null and app.request.pathinfo == '/' %}
				<p class="flex font-bold absolute mx-auto mt-14 text-purple-400 text-xs justify-center rounded-md border border-purple-200 shadow-sm px-2 py-1 bg-purple-100 cursor-pointer" id="hint-login">
					Log in to save your progress
				</p>
			{% endif %}
			{% block body %}{% endblock %}
		</main>

		<footer class="text-center text-gray-400 text-xs my-6">
			<p class="mb-2">
				Coded by
				<a class="text-blue-400 hover:underline" href="https://www.jeremygautrais.fr/" target="_blank" rel="noopener">Jérémy</a>
			</p>
			<p>
				Source code on
				<a class="text-blue-400 hover:underline" href="https://github.com/jgautrais/aest/tree/main" target="_blank" rel="noreferrer">Github</a>
			</p>
		</footer>
	</body>
</html>
